

/* Start:/bitrix/templates/dresscode/components/bitrix/menu/personal/style.css?16262889281686*/
#personalMenu{
	border-bottom: 1px solid #f1f1f1;
	margin: 0px 0px 24px 0px;
	overflow: hidden;
	list-style: none;
	padding: 0;
}

#personalMenu li{
	margin-bottom: 24px;
	margin-right: 24px;
	float: left;
}

#personalMenu li:last-child{
	margin-right: 0;
}

#personalMenu li a{
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	/*text-transform: uppercase;*/
	text-decoration: none;
	font-size: 16px;
	color: #000000;
}

#personalMenu li a:active{
	position: relative;
	top: 1px;
}

#personalMenu li .selected{
	border-bottom: 1px dashed #000000;
	font-family: 'robotobold';
	padding-bottom: 4px;
}

#personalMenu li .selected:hover{
	color: #000000;
}

@media all and (max-width: 1024px) {

	#personalMenuWrap{
		position: relative;
		min-width: 100%;
		overflow: hidden;
		overflow-x: auto;
		height: 40px;
	}

	#personalMenuWrap ul{
		white-space: nowrap;
		overflow: auto;
	}

	#personalMenu li{
		white-space: nowrap;
		float: none;
		display: inline-block;
		vertical-align: top;
		margin-right: 18px;
		margin-bottom: 18px;
	}

	#personalMenu::after {
	    background: -moz-linear-gradient(left, rgba(255,255, 255, 0.2), #ffffff 100%);
	    background: -webkit-linear-gradient(left, rgba(255,255, 255, 0.2), #ffffff 100%);
	    background: -o-linear-gradient(left, rgba(255,255, 255, 0.2), #ffffff 100%);
	    background: -ms-linear-gradient(left, rgba(255,255, 255, 0.2), #ffffff 100%);
	    background: linear-gradient(to right, rgba(255,255, 255, 0.2), #ffffff 100%);
	    pointer-events: none;
	    position: absolute;
	    right: 0;
	    top: 0;
	    height: 100%;
	    content: '';
	    width: 35px;
	}

}
/* End */


/* Start:/bitrix/templates/dresscode/components/bitrix/system.auth.authorize/.default/style.css?16262889282906*/
.bx-auth .bx-auth-type-select{
	line-height: normal;
	margin-bottom: 18px;
	font-size: 0;
}

.bx-auth .bx-auth-type-select .bx-auth-type-select-item{
	vertical-align: middle;
	display: inline-block;
	font-size: 14px;
}

.bx-auth .bx-auth-type-select .bx-auth-type-select-item{
	margin-left: 12px;
}

.bx-auth .bx-auth-type-select .bx-auth-type-select-item:first-child{
	margin-left: 0px;
}

.bx-auth .bx-auth-type-select .bx-auth-type-select-link{
	padding-right: 24px;
	padding-left: 24px;
	min-width: auto;
}

.bx-auth .bx-auth-type-item{
	display: none;
}

.bx-auth .bx-auth-type-item.active{
	display: block;
}

.bx-auth .emailAuth .bx-captcha{
	margin-top: 0px;
}

.bx-auth-error-item{
	margin-top: 12px;
	display: block;
}

.bx-auth .dbg_captha{
	margin-top: 12px;
}

.bx-auth .dbg_captha .bx-captcha{
	margin-bottom: 12px;
	margin-top: 0px;
}

.bx-auth .sendForm.loading{
    background-image: url(/bitrix/templates/dresscode/components/bitrix/system.auth.authorize/.default/images/spin.svg);
    color: rgba(255, 255, 255, 0.6);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-transition: none;
    pointer-events: none;
    -o-transition: none;
    transition: none;
    opacity: 0.65;
}

.bx-auth .bx-title{
	font-size: 14px;
}

.bx-auth .bx-auth-error-item{
    text-transform: lowercase;
    border: 1px solid #f00;
    background-color: #fff;
    margin-bottom: 0px;
    line-height: 21px;
    margin-top: 12px;
    max-width: 100%;
    padding: 12px;
    width: auto;
}

.bx-auth .bx-auth-error-item:first-letter{
	text-transform: capitalize;
}

.bx-auth input:-webkit-autofill,
.bx-auth input:-webkit-autofill:hover,
.bx-auth input:-webkit-autofill:focus,
.bx-auth input:-webkit-autofill,
.bx-auth textarea:-webkit-autofill,
.bx-auth textarea:-webkit-autofill:hover,
.bx-auth textarea:-webkit-autofill:focus,
.bx-auth select:-webkit-autofill,
.bx-auth select:-webkit-autofill:hover,
.bx-auth select:-webkit-autofill:focus{
	background-color: #f3f3f3 !important;
	-webkit-box-shadow: 0 0 0 30px #f3f3f3 inset !important;
}

@media screen and (max-width: 750px){

	#main .bx-auth .leftContainer{
		margin-right: 0px;
		float: none;
	}

	#main .bx-auth input[type="text"],
	#main .bx-auth input[type="password"]{
		width: 100%;
	}

}

@media screen and (max-width: 600px){

	#main h1{
		margin-bottom: 12px;
	}

	#authMenu{
		display: none;
	}

}

@media screen and (max-width: 450px){

	#main .bx-auth .submit, .popup-window .btn{
		min-width: 170px;
		width: auto;
	}

}

@media screen and (max-width: 400px){

	#main .bx-auth .bx-auth-type-select .bx-auth-type-select-link {
	    padding-right: 16px;
	    padding-left: 16px;
	}

	#main .bx-auth .submit, .popup-window .btn{
		box-sizing: border-box;
		padding-right: 12px;
		padding-left: 12px;
		min-width: 120px;
		width: auto;
	}

}

/* End */


/* Start:/bitrix/components/bitrix/socserv.auth.form/templates/flat/style.min.css?16291383932638*/
.bx-authform-social-popup{display:none;background:#fff;width:auto;padding:15px;font-size:14px;white-space:nowrap}.bx-authform-social-popup form{margin-bottom:0}.bx-authform-social-popup input[type="text"]{display:inline-block;max-width:150px;font-size:18px;height:30px;margin:0;padding:0 4px;border:1px solid #ccd5db;border-radius:2px;background:#f8fafc;outline:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.bx-authform-social ul{padding:5px 0 12px;margin:0 0 15px;display:block}.bx-authform-social ul li{position:relative;display:inline-block;width:35px;height:35px;margin-right:5px}.bx-authform-social ul li .bx-authform-social-icon{display:block;width:35px;height:35px;	background-image: url(/bitrix/components/bitrix/socserv.auth.form/templates/flat/images/sprite.png); background-repeat:no-repeat;border-bottom:0}.bx-authform-social ul li .bx-authform-social-icon:hover{opacity:.9}.bx-authform-social ul li .bx-authform-social-icon.box{background-position:0 0}.bx-authform-social ul li .bx-authform-social-icon.dropbox{background-position:-44px 0}.bx-authform-social ul li .bx-authform-social-icon.bitrix24{background-position:-88px 0}.bx-authform-social ul li .bx-authform-social-icon.yandex{background-position:-132px 0}.bx-authform-social ul li .bx-authform-social-icon.openid{background-position:-176px 0}.bx-authform-social ul li .bx-authform-social-icon.odnoklassniki{background-position:-220px 0}.bx-authform-social ul li .bx-authform-social-icon.google{background-position:-264px 0}.bx-authform-social ul li .bx-authform-social-icon.mymailru{background-position:-308px 0}.bx-authform-social ul li .bx-authform-social-icon.mailru2{background-position:-440px 0}.bx-authform-social ul li .bx-authform-social-icon.livejournal{background-position:-352px 0}.bx-authform-social ul li .bx-authform-social-icon.openid-mail-ru{background-position:-440px 0}.bx-authform-social ul li .bx-authform-social-icon.liveid{background-position:-484px 0}.bx-authform-social ul li .bx-authform-social-icon.liveinternet{background-position:-528px 0}.bx-authform-social ul li .bx-authform-social-icon.blogger{background-position:-572px 0}.bx-authform-social ul li .bx-authform-social-icon.vkontakte{background-position:-616px 0}.bx-authform-social ul li .bx-authform-social-icon.twitter{background-position:-660px 0}.bx-authform-social ul li .bx-authform-social-icon.facebook{background-position:-704px 0}.bx-authform-social ul li .bx-authform-social-icon.google-plus{background-position:-748px 0}.bx-authform-social ul li .bx-authform-social-icon.office365{background-position:-792px 0}.bx-authform-social ul li .bx-authform-social-icon.zoom{background-position:-836px 0}
/* End */


/* Start:/bitrix/templates/dresscode/components/bitrix/sale.personal.order.list/.default/style.css?162628892817563*/
.bx_my_order{
	margin-bottom: 20px;
}
.bx_my_order_status_desc{
	margin: 20px 0 20px 0;
}
.bx_my_order_status_desc h2{
	margin-top: 0;
	margin-bottom: 5px;
}
.bx_mos_desc{
	font-size: 12px;
}
.bx_my_order h3{
	font-weight: bold;
	font-size:24px;
	color: #3f3f3f;
}
.bx_my_order .bx_my_order_table{
	width: 100%;
	border-collapse: collapse;
	border: 1px solid #e8e8e8;
}
.bx_my_order .bx_my_order_table tr td{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
.bx_my_order .bx_my_order_table thead tr td{
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	color: #3d4345;
	border-bottom: 1px solid #d9d9d9;
	/*box-shadow: 0 -1px 1px 0 rgba(255,255,255,1);*/

	background: rgb(255,255,255);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2UzZTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(227,227,227,1)));
	background:-webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(227,227,227,1) 100%);
	background:   -moz-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(227,227,227,1) 100%);
	background:    -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(227,227,227,1) 100%);
	background:     -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(227,227,227,1) 100%);
	background:        linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(227,227,227,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e3e3e3',GradientType=0 );
}
.bx_my_order .bx_order_action{
	margin-bottom: 20px;
}
.bx_my_order .bx_my_order_table td a{font-size: 13px;color: #0073a3}
.bx_my_order .bx_my_order_table td a:hover{text-decoration: none;}
.bx_my_order .bx_my_order_table tbody tr td{
	padding: 15px 10px 5px;
	color: #3f3f3f;
	font-size: 13px;
	vertical-align: top;
	line-height:30px;
}
.bx_my_order .bx_my_order_table tbody tr td:first-child{width: 65%}
/*.bx_my_order .bx_my_order_table tbody tr td[colspan="2"]{
	padding: 10px;
	font-weight: bold;
	font-size: 15px;
	color: #3d4345;
	background: #fafafa;
}*/

.bx_my_order .bx_item_list{
	margin: 5px 0 0 0;
	padding: 0 0 0 30px;
	list-style: decimal;
}

.bx_my_order .bx_my_order_status{
	width: 100%;
	font-weight: bold;
	padding: 10px 5px;
	line-height: normal;
	margin-bottom: 20px;
	font-size: 14px;
	text-shadow: 0 1px 0 rgba(255,255,255,.5)
}
.bx_my_order .bx_my_order_status.yellow{background: #ffd34e}
.bx_my_order .bx_my_order_status.red   {background: #fb7474}
.bx_my_order .bx_my_order_status.green {background: #ade421}
.bx_my_order .bx_my_order_status.gray  {background: #bbbbbb}


@media (max-width: 550px){
	.bx-touch .bx_my_order .bx_my_order_table tr,
	.bx-touch .bx_my_order .bx_my_order_table tbody,
	.bx-touch .bx_my_order .bx_my_order_table tbody td{display: block;width: 100% !important;}
	.bx-touch .bx_my_order .bx_my_order_table tbody{border-top: 1px solid #e8e8e8;}
	.bx-touch .bx_my_order .bx_my_order_table thead td{display: inline-block; white-space: nowrap;width: auto !important;background: transparent !important;border: none;box-shadow: none}
	.bx_my_order .bx_my_order_status{
		padding: 10px;
		position: relative;
		margin-left: -10px;
	}
}

.bx_my_order .bx_bt_button_type_2{
	display:inline-block;
	border-radius:3px;
	text-align:center;
	text-decoration:none;
	font-size:14px;
	cursor:pointer;
	color: #3f3f3f !important;
}
.bx_my_order .bx_shadow.bx_bt_button_type_2{box-shadow:0 1px 1px 0 rgba(0,0,0,.2)}
.bx_my_order .bx_shadow.bx_bt_button_type_2:active{box-shadow:none}

.bx_my_order .bx_bt_button_type_2 		{
	border:1px solid #e9e9e9;
	background:#fcfcfc;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMWYxZjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f1f1f1));
	background:-webkit-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
	background:   -moz-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
	background:    -ms-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
	background:     -o-linear-gradient(top, #fcfcfc 0%,#f1f1f1 100%);
	background:        linear-gradient(to bottom, #fcfcfc 0%,#f1f1f1 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f1f1f1',GradientType=0 );
	color:#656565;
	text-shadow:0 1px 0 #fff;
}
.bx_my_order .bx_bt_button_type_2:hover 	{background:#fff}
.bx_my_order .bx_bt_button_type_2:active {
	background:#f1f1f1;
	background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YxZjFmMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#fcfcfc));
	background:-webkit-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background:   -moz-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background:    -ms-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background:     -o-linear-gradient(top, #f1f1f1 0%,#fcfcfc 100%);
	background:        linear-gradient(to bottom, #f1f1f1 0%,#fcfcfc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#fcfcfc',GradientType=0 );
	box-shadow:inset 0 2px 2px 0 rgba(0,0,0,.05);
}

.bx_my_order .bx_small.bx_bt_button_type_2{
	display:inline-block;
	min-width:20px;
	line-height:20px;
}
.bx_my_order .bx_small.bx_bt_button_type_2 		{}
.bx_my_order .bx_small.bx_bt_button_type_2:hover {}
.bx_my_order .bx_small.bx_bt_button_type_2:active{}

.bx_my_order .bx_medium.bx_bt_button_type_2	{
	padding:0 13px;
	height:25px;
	font-weight:bold;
	line-height:25px;
}

.bx_my_order .bx_medium.bx_bt_button_type_2 		 {font-weight:bold}
.bx_my_order .bx_medium.bx_bt_button_type_2:hover {}
.bx_my_order .bx_medium.bx_bt_button_type_2:active{}

.bx_my_order .bx_big.bx_bt_button_type_2	{
	padding:0 13px;
	height:34px;
	font-weight:bold;
	line-height:34px;
}

.bx_my_order .bx_big.bx_bt_button_type_2 	  {}
.bx_my_order .bx_big.bx_bt_button_type_2:hover {}
.bx_my_order .bx_big.bx_bt_button_type_2:active{}

.bx_my_order_switch {
	margin-bottom: 15px;
	line-height: 30px;
}
.bx_my_order_switch .bx_mo_link{
	margin-right: 20px;
}

.sale-order-link,
.sale-order-history-link {
	display: inline-block;
	font: 14px "roboto_ltregular", Helvetica, Arial, sans-serif;
	color: #4a90e2;
	padding: 0 34px 0 0;
}

.sale-order-title {
	margin-top:40px;
	font: 20px "roboto_ltregular", Arial, Helvetica, sans-serif;
	color: #262626;
}

.sale-order-description {
	font: 14px "roboto_ltregular", Helvetica, Arial, sans-serif;
	color: #888;
}

.sale-order-list-title-container {
	background: rgba(194,243,136, .5);
}

.sale-order-list-title,
.sale-order-list-accomplished-title {
	margin-top: 10px;
	font: bold 15px "roboto_ltregular", Helvetica, Arial, sans-serif;
	color: #2f3435;
}

.sale-order-list-container {
	margin: 0 0 34px 0;
}

.sale-order-list-inner-container {
	padding: 0 15px 15px 15px;
	border: 1px solid #efecec;
}

.sale-order-list-inner-title-line {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 18px 0 14px 0;
	text-transform: uppercase;
}

.sale-order-list-inner-title-line-item {
	display: inline-block;
	margin: 0 5px 0 0;
	vertical-align: middle;
	font: bold 10px "roboto_ltregular", Helvetica, Arial, sans-serif;
	color: #9b9b9b;
}

.sale-order-list-inner-title-line-border {
	display: inline-block;
	margin: 6px 0;
	height: 1px;
	width: 100%;
	vertical-align: middle;
}

.sale-order-list-inner-row {
	padding: 0;
	position: relative;
}

.sale-order-list-inner-row-template{
	display: none;
}

.sale-order-list-payment-title,
.sale-order-list-shipment-title {
	font: bold 14px "roboto_ltregular", Helvetica, Arial, sans-serif;
	color: #000;
}

.sale-order-list-payment-about-link,
.sale-order-list-payment-repeat-link,
.sale-order-list-payment-cancel-link {
	padding: 21px 0 0 0;
}

.sale-order-list-shipment-button,
.sale-order-list-repeat-link,
.sale-order-list-cancel-link,
.sale-order-list-about-link,
.sale-order-list-change-payment {
	font: 14px "roboto_ltregular", Helvetica, Arial, sans-serif;
	color: #4a90e2;
	text-decoration: underline;
	cursor: pointer;
}

.sale-order-list-cancel-link {
	display: inline-block;
	color: #9b9b9b;
	/*vertical-align: middle;*/
}

div.sale-order-list-repeat-container {
	padding: 0;
}

.sale-order-list-repeat-link {
	display: inline-block;
	padding: 0 0 0 13px;
	vertical-align: middle;
}

.sale-order-list-repeat-link:before {
	content: "";
	display: inline-block;
	margin: 0 3px 4px 0;
	width: 10px;
	height: 13px;
	background: url(/bitrix/templates/dresscode/components/bitrix/sale.personal.order.list/.default/images/sale-order-repeat.svg) no-repeat;
	vertical-align: middle;
}

.sale-order-link-accomplished {
	padding: 0;
	text-decoration: none;
}

.sale-order-list-shipment-button:hover,
.sale-order-list-repeat-link:hover,
.sale-order-list-cancel-link:hover,
.sale-order-list-cancel-payment:hover,
.sale-order-list-about-link:hover,
.sale-order-list-cancel-payment,
.sale-order-list-change-payment:hover{
	text-decoration: none;
	cursor: pointer;
}

.sale-order-list-cancel-payment{
	margin-top: 20px;
	display: block;
}

.sale-order-list-about-link {
	font: bold 14px "roboto_ltregular", Helvetica, Arial, sans-serif;
}

.sale-order-list-status-alert,
.sale-order-list-status-success {
	display: inline-block;
	padding: 4px 10px 5px 8px;
	border: 1px solid #eab3b9;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	background: #ffe5e8;
	font: bold 12px "roboto_ltregular", Helvetica, Arial, sans-serif;
	color: #d0021b;
}

.sale-order-list-status-success {
	background: #e3f0bd;
	border: 1px solid #bed277;
	color: #597707;
}

.sale-order-list-payment-price {
	padding: 4px 0 0 0;
	font: 14px "roboto_ltregular", Helvetica, Arial, sans-serif;
}

.sale-order-list-change-payment {
	display: block;
	margin: 6px 0 0 0;
	font: 14px "roboto_ltregular", Helvetica, Arial, sans-serif;
}

/*.sale-order-list-button-container {*/
	/*position: absolute;*/
	/*top: 50%;*/
	/*right: 15px;*/
	/*-webkit-transform: translateY(-50%);*/
	/*-moz-transform: translateY(-50%);*/
	/*transform: translateY(-50%);*/
/*}*/

.sale-order-list-button {
	display: block;
	padding: 0 17px;
	float: right;
	max-width: 115px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	height: 38px;
	background: #70bb18;
	color: #fff;
	font: bold 14px/38px "roboto_ltregular", Helvetica, Arial, sans-serif;
	text-align: center;
}

.sale-order-list-button:hover {
	color: #fff;
	background: #7bd314;
	-webkit-transition: background ease-out 0.5s;
	-moz-transition: background ease-out 0.5s;
	-o-transition: background ease-out 0.5s;
	transition: background ease-out 0.5s;
}

.sale-order-list-shipment {
	font: 14px "roboto_ltregular", Helvetica, Arial, sans-serif;
	list-style: none;
}

.sale-order-list-shipment-item {
	padding: 6px 0 0 0;
}

.sale-order-list-shipment-list-item-link {
	padding: 16px 0 0 0;
	text-decoration: underline;
}

.sale-order-list-shipment-id {
	font-weight: 700;
}

.sale-order-list-shipment-id-icon {
	display: inline-block;
	width: 11px;
	height: 13px;
	background: url("/bitrix/templates/dresscode/components/bitrix/sale.personal.order.list/.default/images/sale-order-order-list-options-methods-shipment-list-item-id-element.svg") center no-repeat;
	cursor: pointer;
}

.sale-order-list-top-border {
	width: auto;
	height: 1px;
	margin: 18px 15px 21px 15px;
	background: #f2f2f2;
}

.sale-order-list-accomplished-title-container {
	background: #f2f2f2;
}

.sale-order-list-accomplished-date-container {
	text-align: right;
}

.sale-order-list-accomplished-date {
	padding: 0 8px 0 0;
}

.sale-order-list-accomplished-date,
.sale-order-list-accomplished-date-number {
	display: inline-block;
	margin: 10px 0 0 0;
	font: bold 14px "roboto_ltregular", Helvetica, Arial, sans-serif;
}

.sale-order-list-accomplished-date {
	color: #4b8c03;
}
.sale-order-list-accomplished-date.canceled-order {
	color: #ff0000;
}

.sale-order-list-accomplished-date-number {
	color: #888;
}

.sale-order-list-repeat-accomplished {
	text-align: right;
}

.sale-order-list-inner-accomplished {
	border: 1px solid #efecec;
	padding: 13px 15px 15px 15px;
}

.sale-order-list-shipment-status {
	margin: 2px 0 0 0;
}

.sale-order-list-shipment-status-item {
	display: inline-block;
	margin: 6px 0 5px 0;
	vertical-align: middle;
}

.sale-order-list-shipment-status-block {
	display: inline-block;
	padding: 5px;
	border: 1px solid rgba(128,134,142,0.20);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #f3f4f5;
	font: bold 14px "roboto_ltregular", Helvetica, Arial, sans-serif;
	color: #535c69;
	vertical-align: middle;
}

/* state's */

.sale-order-state-green {
	background: #c2f388;
}
.sale-order-state-yellow {
	background: #d7dd39;
}
.sale-order-state-red {
	background: #dd6239;
}
.sale-order-state-grey {
	background: #f2f2f2;
}

/* dw24 tuning */

.sale-order-link,
.sale-order-history-link{
	border: 1px solid #eeeeee;
	text-decoration: none;
	margin-right: 12px;
	color: #000000;
	padding: 12px;
}

.sale-order-link:hover,
.sale-order-history-link:hover{
	background-color: #fbfbfb;
}

.sale-order-link:active,
.sale-order-history-link:active{
	position: relative;
	top: 1px;
}

.sale-order-list-title-container{
	padding: 6px 12px;
}

.sale-order-title{
	margin-top: 32px;
}

.sale-order-list-shipment-status,
.sale-order-list-shipment-item{
	margin-top: 8px;
}

.sale-order-list-status-alert,
.sale-order-list-status-success{
	margin-left: 12px;
}

.sale-order-list-button{
	text-decoration: none;
}

.sale-order-list-shipment-status-item{
	margin-right: 12px;
}

.sale-order-list-about-link,
.sale-order-list-repeat-link{
	float: left;
}

.sale-order-list-about-link{
	margin-right: 12px;
}

.sale-order-list-repeat-link{
	margin-right: 24px;
	margin-top: 2px;
}

.sale-order-payment-change-pp-company-graf-container{
	padding-top: 0px !important;
	height: 100px !important;
	width: 150px !important;
}

.sale-order-list-cancel-payment{
	text-decoration: underline;
}

.sale-order-payment-change-pp-company-smalltitle{
	padding-top: 6px !important;
	font-size: 12px !important;
	position: relative;
	z-index: 99;
}

.sale-order-payment-change-pp-list{
	overflow: hidden;
}

.sale-order-payment-change-pp .sale-order-payment-change-pp-company{
	float: left;
	padding: 0;
	margin: 0;
}

.sale-order-payment-change-pp-company-image{
	cursor: pointer;
}

input[name="BuyButton"]{
	margin-right: 12px;
	padding: 12px 36px;
	margin-top: 12px;
	cursor: pointer;
	color: #ffffff;
	border: 0;
}

input[name="BuyButton"]:active{
	position: relative;
	top: 1px;
}

.sale-order-list-cancel-payment{
	margin-top: 12px;
}

.sale-order-detail-about-order-inner-container-details-title{
	margin-bottom: 0px;
}

.sale-paysystem-yandex-button{
	margin: 0 !important;
}

.sale-order-list-accomplished-date-container{
	text-align: left;
}

.sale-order-list-accomplished-title-container{
	background-color: transparent;
}

.sale-order-list-inner-accomplished{
	padding: 0;
	border: 0;
}

.sale-order-list-container{
	border-bottom: 1px solid #f3f3f3;
	padding-bottom: 12px;
	margin-bottom: 12px;
	overflow: hidden;
}

.sale-order-history-link {
	margin: 6px 0;
}

.sale-order-link, .sale-order-history-link{
	margin-right: 12px;
}

.sale-order-payment-change-pp-company-image{
	background-size: auto !important;
}

.sale-paysystem-wrapper, input[name="BuyButton"],
.sale-order-payment-change-pp input[name="BuyButton"]{
	padding: 2px 24px;
}

.sale-order-payment-change-pp a{
	margin-top: 12px;
	display: block;
}

.sale-order-payment-change-pp a:hover{
	opacity: 0.7;
}

.sale-order-payment-change-pp a:active{
	position: relative;
	top: 1px;
}

@media (max-width: 991px) {
	.sale-order-list-accomplished-date-container,
	.sale-order-list-repeat-accomplished {
		text-align: left;
	}
}

@media (max-width: 767px) {
	.sale-order-list-button {
		margin: 10px 0 0 0;
		max-width: none;
		float: none;
	}
}

/* End */


/* Start:/bitrix/components/bitrix/sale.order.payment.change/templates/.default/style.min.css?16262889195814*/
.sale-order-payment-change-pp.row{margin-right:0;margin-left:0}.sale-order-payment-change-pp-list{opacity:0}.sale-order-payment-change-pp-company{height:40px;padding-bottom:20px;z-index:100;position:relative}.sale-order-payment-change-pp .sale-order-payment-change-pp-company{padding:7px;border:1px solid transparent;height:auto;margin-bottom:15px;-webkit-transition:all 100ms ease;-moz-transition:all 100ms ease;-ms-transition:all 100ms ease;-o-transition:all 100ms ease;transition:all 100ms ease}.sale-order-payment-change-pp-company:hover .sale-order-payment-change-pp-company-graf-container{-webkit-transition:all 100ms ease;-moz-transition:all 100ms ease;-ms-transition:all 100ms ease;-o-transition:all 100ms ease;transition:all 100ms ease;border-color:#159ebb}.sale-order-payment-change-pp-company-graf-container{border:2px solid #c3cace;border-radius:2px;position:relative;background:#fff;width:auto;height:0;padding-top:50%}.sale-order-payment-change-pp-company-image{position:absolute;top:5px;right:5px;bottom:5px;left:5px;background-size:contain;background-repeat:no-repeat;background-position:center}.sale-order-payment-change-pp-company-smalltitle{padding-top:9px;color:#a3a3a3;font-size:11px;text-align:center;padding-bottom:5px}.sale-order-payment-change-pp-field .form-control{background:#fff}.sale-order-payment-change-pp-price{text-align:right;padding:4px 0}.sale-order-payment-change-service-small{color:#a3a3a3;font-size:11px}@media(min-width:1200px){.sale-order-payment-change-pp div .sale-order-payment-change-pp-company:nth-child(4n+1),.sale-order-payment-change-pp-item-container .sale-order-payment-change-pp-company:nth-child(4n+1){clear:both;padding-left:0}}@media(min-width:768px) and (max-width:1199px){.sale-order-payment-change-pp div .sale-order-payment-change-pp-company:nth-child(3n+1),.sale-order-payment-change-pp-item-container .sale-order-payment-change-pp-company:nth-child(3n+1){clear:both;padding-left:0}}@media(max-width:767px){.sale-order-payment-change-pp,.sale-order-payment-change-pp-item-container{max-width:450px}.sale-order-payment-change-pp div .sale-order-payment-change-pp-company:nth-child(2n+1),.sale-order-payment-change-pp-item-container .sale-order-payment-change-pp-company:nth-child(2n+1){clear:both;padding-left:0}}.sale-order-payment-change-inner-row{padding:0;position:relative}.sale-order-payment-change-payment{padding-bottom:20px}.sale-order-payment-change-payment-title{font:bold 14px "Helvetica Neue",Helvetica,Arial,sans-serif;color:#000}.sale-order-payment-change-status-alert,.sale-order-payment-change-status-restricted,.sale-order-payment-change-status-success{display:inline-block;padding:4px 10px 5px 8px;border:1px solid #eab3b9;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;border-radius:2px;background:#ffe5e8;font:bold 12px "Helvetica Neue",Helvetica,Arial,sans-serif;color:#d0021b}.sale-order-payment-change-status-restricted{background:#f3f4f5;border:1px solid rgba(128,134,142,0.20);color:#535c69}.sale-order-payment-change-status-success{background:#e3f0bd;border:1px solid #bed277;color:#597707}.sale-order-payment-change-payment-price{padding:4px 0 0 0;font:13px "Helvetica Neue",Helvetica,Arial,sans-serif}.sale-order-payment-change-payment-form-group{display:table}.sale-order-payment-change-payment-form-cell{display:table-cell;vertical-align:middle;text-align:center}.sale-order-inner-payment-button{display:block;cursor:pointer;padding:0 17px;max-width:115px;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;height:38px;background:#1485ce;color:#fff;font:bold 13px/38px "Helvetica Neue",Helvetica,Arial,sans-serif;text-align:center;float:left}.sale-order-inner-payment-button:hover{color:#fff;background:#53a4d8;-webkit-transition:background ease-out .5s;-moz-transition:background ease-out .5s;-o-transition:background ease-out .5s;transition:background ease-out .5s}.sale-order-inner-payment-button.inactive-button{opacity:.2;cursor:pointer}.sale-order-inner-payment-button.inactive-button:hover{background:#1485ce;color:#fff}.sale-order-inner-padding-bottom{padding-bottom:15px}.sale-paysystem-wrapper{position:relative;padding:24px 38px 24px 38px;margin:0 -15px 0 0;border:1px solid #3bc8f5;font:14px "Helvetica Neue",Arial,Helvetica,sans-serif;color:#424956}.sale-paysystem-wrapper{position:relative;padding:24px 38px 24px 38px;margin:0 -15px 0 0;border:1px solid #3bc8f5;font:14px "Helvetica Neue",Arial,Helvetica,sans-serif;color:#424956}.sale-paysystem-close{position:absolute;top:7px;right:7px}.sale-paysystem-close-item{display:inline-block;width:18px;height:18px;background:url(/bitrix/components/bitrix/sale.order.payment.change/templates/.default/../../components/bitrix/sale.personal.order.detail/templates/.default/images/sale-personal-order-sprite.svg) 1px 1px no-repeat;-webkit-transition:opacity .3s ease;-moz-transition:opacity .3s ease;transition:opacity .3s ease;opacity:1;cursor:pointer}.sale-paysystem-close-item:hover{opacity:.5}.sale-paysystem-description{margin:0 0 11px 0;font:11px "Helvetica Neue",Arial,Helvetica,sans-serif;color:#bcbdc0}.sale-paysystem-yandex-button{display:inline-block;margin:26px 10px 26px 0}.sale-paysystem-yandex-button-item{padding:0 22px;height:38px;border:0;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;background:#f59023;font:bold 13px/35px "Helvetica Neue",Arial,Helvetica,sans-serif;color:#fff;-webkit-transition:background .3s ease;-moz-transition:background .3s ease;transition:background .3s ease}.sale-paysystem-yandex-button-item:hover{background:#ff911a;color:#fff;text-decoration:none}.sale-paysystem-yandex-checkout-button-item{padding:10px 22px}.sale-paysystem-yandex-button-item:focus{color:#fff;text-decoration:none}.sale-paysystem-yandex-button-descrition{display:inline-block;margin:0 0 15px 0;font:12px "Helvetica Neue",Arial,Helvetica,sans-serif;color:#80868e}
/* End */


/* Start:/bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?162628891651*/
font.errortext{color:red}font.notetext{color:green}
/* End */
/* /bitrix/templates/dresscode/components/bitrix/menu/personal/style.css?16262889281686 */
/* /bitrix/templates/dresscode/components/bitrix/system.auth.authorize/.default/style.css?16262889282906 */
/* /bitrix/components/bitrix/socserv.auth.form/templates/flat/style.min.css?16291383932638 */
/* /bitrix/templates/dresscode/components/bitrix/sale.personal.order.list/.default/style.css?162628892817563 */
/* /bitrix/components/bitrix/sale.order.payment.change/templates/.default/style.min.css?16262889195814 */
/* /bitrix/components/bitrix/system.show_message/templates/.default/style.min.css?162628891651 */
